<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUALIFY</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Titan+One&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="siteName">
        <h1 class="title">ZenMoticism</h1>
    </div>
    <br>
    <main>
        <div class="secondDiv">
            <h1 class="heading">QUALIFY</h1>
            <form action="/login" method="post">
                <p>Enter Details First<br>
                    GiveAways Are Waiting For You</p>
                <input type="text" name="name" id="name" placeholder="Name" class="name" required>
                <br>
                <input type="email" name="email" id="email" placeholder="Enter Google Email" class="text" required>
                <br>
                <section>
                    <a href="https://shrinke.me/5mUZZK2Z"><button>Join Now</button></a>
                </section>
            </form>
        </div>
    </main>
</body>

</html>
